@import 'tailwindcss';


body {
  background: #FFF;
  color: theme(--color-neutral-600);
  font-family: Arial, Helvetica, sans-serif;
}

/* ANIMATIONS */
@keyframes pageIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.pageIn {
  animation: pageIn calc(attr(data-index number) * 0.15s) ease-in-out forwards;
}

@media (prefers-reduced-motion: reduce) {
  .pageIn {
    animation: none;
  }
}
